


  <div class="bg-info.bg-gradient d-flex mt-4">   
   <button type="button"
    class="btn btn-primary"
     (click)="addWarehouse()">Nueva Bodega</button>
 </div>
 <div class="row animated fadeIn fast"
*ngIf="loading">
<div class="col-12">
   <div class="alert text-center">
     <h4 class="alert-heading">Cargando</h4>
     <i class="fa fa-spin fa-refresh fa-2x"></i>
     <p class="mb-0">Por favor espere</p>
   </div>

</div>
</div>
 <div>
   <table class="table">
     <thead>
       <tr  >
         <th scope="col">#</th>
         <th scope="col">Bodega</th>
         <th scope="col">Creada</th>
         <th scope="col"></th>
         <th scope="col"></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let item of warehouses; let i = index">
         <th scope="row">{{i + 1}}</th>
         <td>{{item.name}}</td>
         <td>{{item.date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>

         <td>  <button type="button"
           class="btn btn-secondary btn-sm btn-rounded text-primary"
           (click)=" updateWarehouse(item)">
           Actualizar
         </button>
       </td>
         <td>  <button type="button" (click)="deleteWarehouse(item)" class="btn btn-secondary btn-sm btn-rounded text-danger">
           Eliminar
         </button>
       </td>
       </tr>
     </tbody>
   </table>
 </div>





