<div class="container my-4" *ngIf="entrada">
    <div class="card shadow-sm">
      <div class="card-body" >
        <h2 class="card-title mb-4">Detalles de la entrada {{ entrada.entryNumber }}</h2>
        <p><strong>Fecha:</strong> {{ entrada.date }}</p>
        <p><strong>Origen:</strong> {{ entrada.origin }}</p>
        <p><strong>Proveedor:</strong> {{ entrada.providerName }} ({{ entrada.providerNit }})</p>
        <table class="table table-bordered table-striped mt-4">
          <thead class="bg-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Código</th>
              <th scope="col">Unidad</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Valor unitario</th>
              <th scope="col">Serial</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let material of entrada.details">
              <td>{{ material.name }}</td>
              <td>{{ material.code }}</td>
              <td>{{ material.unity }}</td>
              <td>{{ material.quantity }}</td>
              <td>{{ material.price }}</td>
              <td>{{ material.serial }}</td>
              <td>{{ material.total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary mr-2" (click)="editEntry(entrada)">Editar</button>
        <button type="button" class="btn btn-secondary" (click)="prev()">Volver</button>
      </div>
    </div>
  </div>