


<table class="table">
    <thead>
      <tr  >          
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Proyecto</th>
        <th scope="col">municipality </th>
        <th scope="col">address </th>
        <th scope="col">install </th>
        <th scope="col">install2 </th>
        
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{proyect.name}}</td>
        <td>{{proyect.initialize | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{proyect.municipality}}</td>
        <td>{{proyect.address}}</td>
        <td>{{proyect.install}}</td>
        <td>{{proyect.install2}}</td>     
        
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr  >          
      
        <th scope="col">type </th>
        <th scope="col">house </th>
        <th scope="col">apt </th>
        <th scope="col">tower </th>
        <th scope="col">floor </th>
        <th scope="col">modifications </th>
        
       
        
      </tr>
    </thead>
    <tbody>
      <tr >         
        <td>{{proyect.type}}</td>
        <td>{{proyect.house}}</td>
        <td>{{proyect.apt}}</td>
        <td>{{proyect.tower}}</td>
        <td>{{proyect.floor}}</td>
        <td>{{proyect.modifications}}</td>
       
       
        
        
      </tr>
    </tbody>
  </table>

  <div *ngIf="details.length > 0">
    <h3>Detalles</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>          
          <th scope="col">Unidad</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Cantidad asignada</th>
          <th scope="col">Cantidad usada</th>
          <th scope="col">Variable</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of details">
            <td>{{ detail.code }}</td>
          <td>{{ detail.name }}</td>         
          <td>{{ detail.unity }}</td>
          <td>{{ detail.quantity }}</td>
          <td>{{ detail.quantity_variable }}</td>
          <td>{{ detail.quantity_variable }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  