<div class="container">
    <div class="row animated fadeIn fast mb-4">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
  
                  <input type="text"
                          class="form-control"
                          placeholder="Buscar matrícula..."
                          (keyup)="search( txtTermino.value )"
                          #txtTermino/>
  
              </div>
          </div>
      </div>
    </div>
  
   <div class="bg-info.bg-gradient d-flex justify-content-between ">
    
    <button type="button"
     class="btn btn-primary"
      (click)="addMaterial()">Nuevo contrato</button>
  </div>
  <div class="row animated fadeIn fast"
  *ngIf="loading">
  <div class="col-12">
     <div class="alert text-center">
       <h4 class="alert-heading">Cargando</h4>
       <i class="fa fa-spin fa-refresh fa-2x"></i>
       <p class="mb-0">Por favor espere</p>
     </div>
  
  </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr  >
          <th scope="col">#</th>
          <th scope="col">Municipio</th>
          <th scope="col">N° Contrato</th>
          <th scope="col">Subscriptor</th>
          <th scope="col">Solicitud</th>
          <th scope="col">Orden de trabajo</th>
          <th scope="col">Dirección</th>
          <th scope="col">Barrio</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Fecha de asignación</th>
          <th scope="col">Observación</th>
          <th scope="col">Estado</th>
          <th scope="col">Seguimiento</th>
          <th scope="col">Actualizar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of workRegister| paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index" >
          <th scope="row">{{item.contractNumber}}</th>
          <td>{{item.municipality}}</td>
          <td>{{item.contract}}</td>
          <td>{{item.name}}</td>
          <td>{{item.request}}</td>
          <td>{{item.ot}}</td>
          <td>{{item.addres}}</td>
          <td>{{item.neighborhood}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.date}}</td>
          <td>{{item.observation}}</td>
          <td>{{item.status}}</td>
          <!-- <td>
            <span [ngClass]="item.available ? 'badge badge-success' : 'badge badge-danger'">
              {{ item.available ? 'Disponible' : 'No disponible' }}</span>
           </td> -->
          <td>  <button type="button"
            class="btn btn-secondary btn-sm btn-rounded text-primary"
            (click)="tracking(item)">
            Seguimiento
          </button>
        </td>
          <td>  <button type="button"
            class="btn btn-secondary btn-sm btn-rounded text-primary"
            (click)=" updateMaterial(item)">
            Actualizar
          </button>
        </td>
          <td>  <button type="button" (click)="deleteMaterial(item)" class="btn btn-secondary btn-sm btn-rounded text-danger">
            Eliminar
          </button>
        </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </div>
  
  </div>
  
  
  
