<div class="container my-4" *ngIf="toolAssignment">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title mb-4">Detalles de la Asignación</h2>

      <div class="space">
        <p><strong>Nombre</strong> {{ toolAssignment.collaborator.name}} </p>
        <p>
          <strong>Código:</strong> {{ toolAssignment.collaborator.code}}</p>
          <p>
          <strong>Operación:</strong> {{toolAssignment.collaborator.operation}}
          
        </p>
      </div>

   

      <h4>Lista de Herramientas asignadas</h4>
      <hr />

      <table class="table table-bordered table-striped mt-4">
        <thead class="bg-light">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Herramienta</th>
            <th scope="col">Unidad</th>
            <th scope="col">Cantidad asignada</th>
            <th scope="col">Tipo de asignación</th>
            <th scope="col">Fecha de asignación</th>
            <th scope="col">obsevación</th>
            <th scope="col">Valor unidad</th>
            
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of toolAssignment.details">
            <td>{{ t.tool.code }}</td>
            <td>{{ t.tool.name }}</td>
            <td>{{ t.tool.unity }}</td>
            <td>{{ t.assignedQuantity }}</td>
            <td>{{ toolAssignment.reason }}</td>
            <td>{{ toolAssignment.assignedAt }}</td>
            <td>{{ t.observation }}</td>
            <td>{{ t.tool.price | currency : "$" }}</td>           
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
