<!-- report.component.html -->
  <div class="m-4 mt-4 mb-4">
    <h2 class="ml-4">Descargar Informe de movimientos</h2>
    <form [formGroup]="reportForm" (ngSubmit)="downloadExcel()">
      <div class="form-group ml-4 col-4">
        <label for="startDate">Fecha de Inicio:</label>
        <input type="date" id="startDate" formControlName="startDate" class="form-control" required />
      </div>
  
      <div class="form-group ml-4 col-4">
        <label for="endDate">Fecha de Fin:</label>
        <input type="date" id="endDate" formControlName="endDate" class="form-control" required />
      </div>
  
      <div class="col-4">
        <button type="submit" class="btn btn-primary ml-4">Descargar Reporte en Excel</button>
      </div>
    </form>
  </div>   