

<div class="container">
    <h3 class="text-center mb-5">Agregar nuevo Traslado</h3>
  
    <form class="row" (ngSubmit)="addTransfer()" autocomplete="off" [formGroup]="formTransfer">
      <div class="col-md-6 mb-3">
        <label class="form-label">Fecha</label>
        <input type="datetime" class="form-control" formControlName="date" />
        <!-- <div *ngIf="isValidField('date')" class="form-text text-danger">La fecha es requerida</div> -->
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Traslado N°</label>
        <input type="text" class="form-control" formControlName="transferNumber" placeholder="0" />
        <!-- <div *ngIf="isValidField('id_add')" class="form-text text-danger">El campo es requerido</div> -->
      </div>      
      <!-- <div class="col-md-4 mb-3">
        <label class="form-label">Origen</label>
        <input type="text" class="form-control" formControlName="origin" placeholder="" />
      </div> -->
      <div class="col-md-4 mb-3">
        <label class="form-label">Origen</label>
        <select class="form-select" id="origin" aria-label="Default select example" formControlName="origin">
          <option selected>--Seleccione--</option>
          <option *ngFor="let w of warehouses" [value]="w.name">{{ w.name }}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Destino</label>
        <select class="form-select" id="destination" aria-label="Default select example" formControlName="destination">
          <option selected>--Seleccione--</option>
          <option *ngFor="let w of warehouses" [value]="w.name">{{ w.name }}</option>
        </select>
      </div>
      

      <div class="col-md-4 mb-3">
        <label class="form-label">Autoriza</label>
        <select class="form-select" id="destination" aria-label="Default select example" formControlName="autorization">
          <option selected>--Seleccione--</option>
          <option *ngFor="let a of autorice" [value]="a.name">{{ a.name }}</option>
        </select>
      </div>

      <!-- <div class="col-md-4 mb-3">
        <label class="form-label">Autoriza</label>
        <input type="text" class="form-control" formControlName="autorization" placeholder="" />
      </div> -->

      <div class="col-md-6 mb-3">
        <label class="form-label">Envia</label>
        <select class="form-select" aria-label="Default select example" formControlName="delivery" (change)="onCollaboratorSelect()">
          <option selected>--Seleccione--</option>
          <option *ngFor="let collaborator of collaborator">{{ collaborator.name }}</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Documento</label>
        <input type="text" class="form-control" formControlName="documentdelivery" placeholder="" />
        <!-- <div *ngIf="isValidField('invoiceorigin')" class="form-text text-danger">El campo es requerido</div> -->
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Recibe</label>
        <select class="form-select" aria-label="Default select example" formControlName="receive" (change)="onCollaboratorSelect()">
          <option selected>--Seleccione--</option>
          <option *ngFor="let collaborator of collaborator">{{ collaborator.name }}</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Documento</label>
        <input type="text" class="form-control" formControlName="documentreceive" placeholder="" />
        <!-- <div *ngIf="isValidField('invoiceorigin')" class="form-text text-danger">El campo es requerido</div> -->
      </div>
      <div>
        <label class="form-label">Obsevaciones</label>
        <textarea class="form-control" formControlName="observation" placeholder="" cols="20" rows="5"></textarea>
      </div>
      <br>
      
      <hr />
      <material-details
        [materials]="materials"
        (materialsChange)="onMaterialsChange($event)"
      ></material-details>
  
      <hr />
  
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Guardar Traslado</button>
      </div>
  
    </form>
  
  </div>
  
  
  

