

<div class="container">
    <h3 class="text-center mb-5">Agregar nuevo Traslado</h3>
  
    <form class="row" (ngSubmit)="addTransfer()" autocomplete="off" [formGroup]="formTransfer">
      <div class="col-md-6 mb-3">
        <label class="form-label">Fecha</label>
        <input type="date" class="form-control" formControlName="date" />
        <!-- <div *ngIf="isValidField('date')" class="form-text text-danger">La fecha es requerida</div> -->
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Traslado N°</label>
        <input type="number" class="form-control" formControlName="transferNumber" placeholder="0" />
        <!-- <div *ngIf="isValidField('id_add')" class="form-text text-danger">El campo es requerido</div> -->
      </div>
      
      <div class="col-md-4 mb-3">
        <label class="form-label">Origen</label>
        <input type="text" class="form-control" formControlName="origin" placeholder="" />
        <!-- <div *ngIf="isValidField('invoiceorigin')" class="form-text text-danger">El campo es requerido</div> -->
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Destino</label>
        <input type="text" class="form-control" formControlName="destination" placeholder="" />
        <!-- <div *ngIf="isValidField('invoiceorigin')" class="form-text text-danger">El campo es requerido</div> -->
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Autoriza</label>
        <input type="text" class="form-control" formControlName="autorization" placeholder="" />
        <!-- <div *ngIf="isValidField('invoiceorigin')" class="form-text text-danger">El campo es requerido</div> -->
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Envia</label>
        <select class="form-select" aria-label="Default select example" formControlName="delivery" (change)="onCollaboratorSelect()">
          <option selected>--Seleccione--</option>
          <option *ngFor="let collaborator of collaborator">{{ collaborator.name }}</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Documento</label>
        <input type="text" class="form-control" formControlName="documentdelivery" placeholder="" />
        <!-- <div *ngIf="isValidField('invoiceorigin')" class="form-text text-danger">El campo es requerido</div> -->
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Recibe</label>
        <select class="form-select" aria-label="Default select example" formControlName="receive" (change)="onCollaboratorSelect()">
          <option selected>--Seleccione--</option>
          <option *ngFor="let collaborator of collaborator">{{ collaborator.name }}</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Documento</label>
        <input type="text" class="form-control" formControlName="documentreceive" placeholder="" />
        <!-- <div *ngIf="isValidField('invoiceorigin')" class="form-text text-danger">El campo es requerido</div> -->
      </div>
      
      <hr />
      <material-details
        [materials]="materials"
        (materialsChange)="onMaterialsChange($event)"
      ></material-details>
  
      <hr />
  
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar Traslado</button>
      </div>
  
    </form>
  
  </div>
  
  
  

