<!-- Formulario para agregar detalles de materiales -->
<div class="container">
  <h4 class="text-center">Agregar Materiales</h4>
  <form class="row" [formGroup]="formMaterial" (ngSubmit)="addTool()">
    <div class="col-md-5 mb-4">
      <label class="form-label">Material:</label>
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="materialId"
      >
        <option value="" selected>--Seleccione --</option>
        <option *ngFor="let mat of material" [value]="mat.id">
          {{ mat.code }} - {{ mat.name }}
        </option>
      </select>

  
    </div>
    <div class="col-md-4 mb-4">
      <label class="form-label">Cantidad:</label>
      <input
        type="number"
        id="assignedQuantity"
        formControlName="assignedQuantity"
        class="form-control"
        required
      />
    </div>
    
    
      <button type="submit" class="btn btn-primary">Agregar Materiales</button>
    
  </form>
</div>

<!-- Tabla para mostrar los materiales agregados -->
<table class="table mt-5 table-striped">
  <thead class="table-primary">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Unidad</th>
      <th scope="col">Cantidad</th>
      <th scope="col">valor</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materials">
      <td>{{ getMaterialProperty(material.materialId, "code") }}</td>
      <td>{{ getMaterialProperty(material.materialId, "name") }}</td>
      <td>{{ getMaterialProperty(material.materialId, "unity") }}</td>
      <td>{{ material.assignedQuantity }}</td>
      <td>{{ getMaterialProperty(material.materialId, "price") }}</td>
      <td>
        <button (click)="removeMaterial(material)" class="btn btn-danger">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
