



 
  
<div class="bg-info.bg-gradient d-flex mt-4">
  
  <button type="button" class="btn btn-primary " (click)="addUser()"  >Nuevo Usuario</button>

</div>
 

<div class="row animated fadeIn fast"
     *ngIf="loading">
    <div class="col-12">
        <div class="alert text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>
<div class=" d-flex col-sm-10 col-md-10 col-lg-12 mt-5 mx-auto rounded row-cols-2 m-auto justify-content-center text-center table-responsive " >

  <table
  class="table align-middle mb-0 bg-white"

  >
    <thead class="bg-light">
      <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Estado</th>
        <th>Rol</th>
        <th>Bodega</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>
          <p class="fw-normal mb-1 text-primary">{{i+1}}.</p>
        </td>
        <td>
          <p class="fw-bold mb-1">{{user.fullName}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{user.user}}</p>
        </td>
        <td>
          <span [ngClass]="user.isActive ? 'badge badge-success' : 'badge badge-danger'">
            {{ user.isActive ? 'activo' : 'inactivo' }}</span>
          
        </td>
        <td>{{user.rol}}</td>
        <td>{{user.warehouses[0].name}}</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm btn-rounded" (click)="editUser(user)">
            Editar
          </button>
        </td>
        <td>
          <button type="button" (click)="deleteUser(user)" class="btn btn-secondary btn-sm btn-rounded text-danger">
            Eliminar
          </button>
        </td>
      </tr>

    </tbody>
  </table>


</div>








