#drop-area {
    display: flex;
 
    margin: 10% 15%;
    width: 70%;
    height: 15rem;
    border: 2px dashed #ccc;
    padding: 25px;
    justify-content: center;
  }

  p{
    font-size: medium;
  }
  
  #drop-area.drag-over {
    background-color: #f0f0f0;
  }